@using Senparc.Weixin.Entities
@using Senparc.Weixin.MP.Entities.Menu
@using Senparc.Weixin.MP.Helpers

@{
    ViewBag.Title = "创建菜单";
    WxJsonResult wxJsonResult = ViewBag.WxJsonResult as WxJsonResult;

    List<ConditionalButtonGroup> ConditionalButtonGroupList = ViewData["ConditionalMenu"] as List<ConditionalButtonGroup>;
    var ButtonGroupBase = ViewData["Menu"] as ButtonGroupBase;
}

<h2>创建菜单</h2>
<div>
    accessToken：@ViewBag.accessToken
</div>
<div>
    @wxJsonResult.ConvertEntityToXmlString();
</div>
<div>
    ConditionalMenu：
    @{
        foreach (var conditionalButtonGroup in ConditionalButtonGroupList)
        {
            foreach (var baseButton in conditionalButtonGroup.button)
            {
                <span>baseButton.name</span>
            }
        }
    }
</div>

<div>
    Menu：
    @{
        foreach (var baseButton in ButtonGroupBase.button)
        {
            <span>baseButton.name</span>
        }
    }
</div>
