@{
    ViewBag.Title = "ErWeiCode";
}

<h2>二维码页面</h2>
<div style="align-content:center;align-items:center">
    <h2>OAuth2.0授权测试</h2>
    <img src="/Images/QrCode.png" height="190" width="190" alt="" />
</div>



